n8n/retention-workflow-export.json
[
  {
    "updatedAt": "2026-02-13T14:48:17.371Z",
    "createdAt": "2026-02-13T14:48:17.371Z",
    "id": "FXntZtBgioVd3hKz",
    "name": "Retention Cleanup: OWUI Logs 180d + Chats 60d",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "daysInterval": 1,
                "triggerAtHour": 3,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "a3f1580a-020f-4b9f-b888-ef0b82434781",
        "name": "Daily 03:30",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          260,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://owui-file-proxy:8091/maintenance/cleanup_openwebui_chats",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"days\":60,\"dry_run\":false,\"keep_pinned\":true,\"max_delete\":5000,\"vacuum\":true}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "0c189fe6-2358-4a7a-a273-6f2d5a2146a0",
        "name": "Cleanup Chats 60d",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          540,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "http://owui-file-proxy:8091/maintenance/openwebui_log_cleanup_status",
          "options": {
            "timeout": 120000
          }
        },
        "id": "6f0f2f48-74bf-4fd5-886c-cf42f6528a37",
        "name": "Get Log Cleanup Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          840,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e80eca57-c645-4869-b7af-92f7f5236747",
                "leftValue": "={{ $json.success !== true || $json.stale === true }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7bb01892-0044-45f4-b44d-a42469ac69fe",
        "name": "Log Status Problem?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1120,
          300
        ]
      }
    ],
    "connections": {
      "Daily 03:30": {
        "main": [
          [
            {
              "node": "Cleanup Chats 60d",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cleanup Chats 60d": {
        "main": [
          [
            {
              "node": "Get Log Cleanup Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Log Cleanup Status": {
        "main": [
          [
            {
              "node": "Log Status Problem?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "ee220146-4076-4d6e-a364-c48aebe0e2b8",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-02-13T14:48:17.376Z",
        "createdAt": "2026-02-13T14:48:17.376Z",
        "role": "workflow:owner",
        "workflowId": "FXntZtBgioVd3hKz",
        "projectId": "6AlgnOrZzCI0hiHs",
        "project": {
          "updatedAt": "2025-12-10T16:11:10.227Z",
          "createdAt": "2025-12-10T16:02:16.857Z",
          "id": "6AlgnOrZzCI0hiHs",
          "name": "Admin Oltmanns <oltmanns@kahle.de>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "e60050be-7f4f-4189-a38f-ba6cda55817a"
        }
      }
    ]
  }
]